# Лог-файлы
1Cv8Log/

# Планировщик заданий
1Cv8JobScheduler/

# Файлы блокировок
*.cfl

# Временные файлы
1Cv8tmp.*

# Файлы синхронизации
1Cv8snc.*

# Резервные копии
*.bak
*.backup

# Файлы выгрузки
*.dt
*.cf
